<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.os.app.externalbrowser.launcher" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>outsystems-external-browser-plugin</name>
	<js-module name="LaunchExternalBrowser" src="www/LaunchExternalBrowser.js">
		<clobbers target="cordova.plugins.LaunchExternalBrowser"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="LaunchExternalBrowser">
				<param name="android-package" value="com.cordova.externalbrowser.LaunchExternalBrowser"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/LaunchExternalBrowser.java" target-dir="src/com/cordova/launchexternalbrowser"/>
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="LaunchExternalBrowser">
				<param name="ios-package" value="LaunchExternalBrowser"/>
			</feature>
		</config-file>
		<source-file src="src/ios/LaunchExternalBrowser.m"/>
	</platform>
</plugin>